@tailwind base;
@tailwind components;

.inputField {
    @apply w-full border-2 px-1 text-purple-800 hover:border-purple-600 focus:outline-none focus:border-purple-600 rounded-md transition-all;
}

.navlink {
    @apply px-4 py-2 text-lg flex flex-row items-center hover:bg-selected transition-all
}

.tabLink {
    @apply mx-3 pb-1 text-yellow-600 hover:text-yellow-500 transition-all
}

@tailwind utilities;

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    
    .animation-delay-3000 {
        animation-delay: 3s;
    }
    
    .animation-delay-6000 {
        animation-delay: 6s;
    }
}

@layer base {
    body {
        font-family: 'Work Sans', sans-serif;
    }
}

@layer components {
    .label {
        @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
    }

    .responsive-input-indigo {
        @apply appearance-none block bg-gray-200 border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-1 focus:bg-white focus:ring-indigo-500;
    }

    .responsive-input-red {
        @apply appearance-none block bg-white border-2 border-red-500 rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-0 focus:bg-white;
    }

    .responsive-btn-indigo {
        @apply w-full shadow bg-indigo-500 hover:bg-indigo-400 focus:ring focus:outline-none text-white font-bold py-2 px-4 rounded;
    }

    .responsive-btn-green {
        @apply w-full shadow bg-green-500 hover:bg-green-400 focus:ring focus:outline-none text-white font-bold py-2 px-4 rounded;
    }

    .invalid-input {
        @apply text-sm opacity-50 text-red-500 shadow-sm mt-2;
    }

    .error-toast {
        @apply w-full border-2 rounded mb-2 px-2 py-2 capitalize border-red-600 bg-red-100 text-red-900 drop-shadow-md font-bold text-base text-center;
    }
}